.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  position: relative;
  left: 43%;
  display: none;
}

.pc1{
  background: rgb(214, 142, 255);
}

.pc2{
  background: rgb(142, 150, 255);
}

.pc3{
  background: rgb(255, 82, 82);
}

.pc4{
  background: rgb(146, 255, 142);
}

.pc5{
  background: rgb(248, 197, 120);
}

.pc6{
  background: rgb(175, 250, 244);
}

.fixed{
  position: fixed;
}

.nav{
  width: 100%;
}

#results{
  padding-top: 63px;
  overflow-y: auto; height: 100%;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

input {
  width: 90%;
}

input[type="text"]{
  font-size: 10pt;
}
input[type="date"]{
  font-size: 8pt;
}

.lp-footer{
  background: green;
  z-index: 100;
  padding: 5px;
  text-align: center;
  color: white;
  opacity: .9;
  font-size: 10pt;
}

.table{
  font-size: 10pt;
}

.table th{
  width: 8%;
  max-width: 8%;
  background-color: #ffffff;
}

.editable{
  background-color: #ffc107;
  max-width: 8%;
  overflow-x: scroll;
}

#editingButtons {
  position: absolute;
  right: 50;
  display: none;
}


.sorted_asc::after{
  content: " ▲";
}

.sorted_desc::after{
  content: " ▼";
}

